.layout {
    display: grid;
    grid-template-columns: 220px 1fr;
    gap: 1rem;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    min-height: calc(100vh - 400px);
}

.top_menus {
    display: none;
}

.side_menus {
    border-right: 1px solid var(--line);
    width: 100%;
    height: 100%;
}

.command {
    background-color: transparent;
}

.command_item {
    color: var(--textMain);
}

.children {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

@media (max-width: 920px) {
    .layout {
        grid-template-columns: 1fr;
    }
    .side_menus {
        display: none;
    }
    .top_menus {
        display: flex;
        flex-wrap: wrap;
        gap: 0.25rem /* 4px */;
        margin-bottom: 16px;
    }
    .children {
        margin-top: 6px;
    }

}

.test {
    right: 0;
    left: auto;
}