

.layout {
    display: grid;
    grid-template-columns: 220px 1fr;
    gap: 1rem;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    min-height: calc(100vh - 400px);
}

.top_menus {
    display: none;
}

.side_menus {
    border-right: 1px solid var(--line);
    width: 100%;
    height: 100%;
}

.command {
    /* background-color: var(--bgSub); */
    background-color: transparent;
}

.command_item {
    color: var(--textMain);
}

.children {
    width: 100%;
    padding-left: 1rem /* 16px */;
    padding-right: 1rem /* 16px */;
    margin-top: 2.5rem /* 40px */;
    margin-bottom: 2.5rem /* 40px */;
}

@media (max-width: 920px) {
    .layout {
        grid-template-columns: 1fr;
        /* grid-template-rows: auto auto; */
    }
    .side_menus {
        display: none;
    }
    .top_menus {
        display: flex;
        flex-wrap: wrap;
        gap: 0.25rem /* 4px */;
        margin-bottom: 16px;
        /* position: sticky;
        top: 0;
        z-index: 1000;
        background-color: black;
        width: full; */
    }
    .children {
        margin-top: 6px;
    }

}
/* @media (min-width: 768px) and (max-width: 920px) {

} */

.test {
    right: 0;
    left: auto;
}