.bg_full {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    background-color: var(--bgHeader);
    /* color: white; */
    font-size: 13px;
    /* height: 320px; */
    /* min-height: 100px; */
}

.footer_container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.footer_content_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* justify-content: space-between; */
}

@media (max-width: 1000px) {
    .bg_full {
        /* height: 600px; */
    }
    .footer_content_container {
        flex-direction: column;
        /* margin: 0 auto; */
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 640px) {
    .post_container {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (min-width: 768px) {
    .post_container {
        grid-template-columns: repeat(2, 1fr);
    }
}
  
@media (min-width: 1280px) {
    .post_container {
        grid-template-columns: repeat(3, 1fr);
    }
}