.bg_full {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    background-color: var(--bgHeader);
    font-size: 13px;
}

.footer_container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.footer_content_container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

@media (max-width: 1000px) {
    .footer_content_container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 640px) {
    .post_container {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (min-width: 768px) {
    .post_container {
        grid-template-columns: repeat(2, 1fr);
    }
}
  
@media (min-width: 1280px) {
    .post_container {
        grid-template-columns: repeat(3, 1fr);
    }
}