
.profile_image_container {
    display: flex;
}

.profile_image {
    object-fit: cover;
    object-position: center top;
    overflow: hidden;
    height: auto;
    border-radius: 100%;
    overflow-clip-margin: unset;
}

.card_container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 16px;
    background-color: var(--bgSub);
    border-radius: 8px;
    margin-bottom: 8px;
    width: 100%;
}
.thumbnail_image_container {
    position: relative;
    display: flex;
    height: 120px;
    aspect-ratio: 7/5;
    border-radius: 6px;
    overflow: hidden;
}
.thumbnail_image {
    object-fit: cover;
    overflow: hidden;
    overflow-clip-margin: unset;
}
.category {
    padding: 6px 8px;
    background-color: var(--bgSub);
    border-radius: 6px;
    font-size: 13px;
}

@media (max-width: 639px) {
    .card_container {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 16px;
        background-color: var(--bgSub);
        border-radius: 8px;
        margin-bottom: 8px;
        width: 100%;
    }
    .thumbnail_image_container {
        position: relative;
        display: flex;
        height: 160px;
        width: 100%;
        border-radius: 6px;
        overflow: hidden;
    }
    .thumbnail_image {
        object-fit: cover;
        overflow: hidden;
        overflow-clip-margin: unset;
    }
}