.about_bg {
    background-color: var(--bgMain);
}

.top_section_container {
    display: flex;
    flex-direction: row;
    margin: 40px auto;
}

.image_container {
    position: relative;
    aspect-ratio: 1/1;
    width: 200px;
    height: 200px;
    margin-top: 20px;
}

.image_container img {
    border-radius: 50%;
    border: 1px solid black;
    aspect-ratio: 1/1;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.section1_container {
    background-color: var(--bgSub);
    margin: 40px 0;
    padding: 40px;
    border: 1px solid var(--line); 
    text-align: justify;
}
.end_text_container {
    background-color: var(--bgSub);
    margin-bottom: 40px;
    padding: 40px;
    border: 1px solid var(--line);
    display: flex;
    justify-content: center;
}

.technologies_container {
    border-bottom: 1px solid var(--line);
}

.about_buttons:hover {
    background-color: var(--jkAccent);
    color: white;
}

.section2_container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-left: 32px;
    margin-right: 32px;
}
.section2_header_text {
    font-weight: 700;
    font-size: 36px;
    width: 200px;
    height: auto;
    text-align: end;
    padding-right: 32px;
    flex-shrink: 0;
    line-height: 40px;
}
.section2_detail_text {
    display: flex;
    flex-grow: 1;
    color: var(--textDetails);
}

@media (max-width: 767px) {
    .top_section_container {
        display: flex;
        flex-direction: column;
        margin: 20px auto;
        align-items: center;
        text-align: justify;
        font-size: 15px;
    }
    .image_container {
        position: relative;
        aspect-ratio: 1/1;
        width: 200px;
        height: 200px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .section1_container {
        font-size: 15px;
    }
    .section2_container {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        font-size: 15px;
    }
    .section2_header_text {
        font-weight: 700;
        font-size: 36px;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .section2_detail_text {
        display: flex;
        flex-grow: 1;
        text-align: justify;
    }
    .end_text_container {
        text-align: justify;
        font-size: 15px;
    }
}

@media (max-width: 1279px) {
    .end_text_container {
        margin-bottom: 0;
    }
}