.modal_image {
    max-height: 80vh; /* make sure it doesn't go over screen height so users don't have to scroll */
    object-fit: contain; /* maintain aspect ratio */
    width: auto; 
    display: block;
    margin: 0 auto; /* Center the image */
}

.my_masonry_grid {
    display: flex;
    width: 100%;
    gap: 6px;
}

.my_masonry_grid_column {
    background-clip: padding-box;
}

.art_item {
    margin-bottom: 6px;
    cursor: pointer; 
}

.art_item img {
    width: 100%;
    height: auto;
    display: block;
}

.art_item p {
    padding: 8px;
}

.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal_content {
    background: var(--bgMain);
    padding: 20px;
    border-radius: 0;
    border: 1px solid var(--bgSub);
    position: relative;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close_button {
    position: absolute;
    top: 12px;
    right: 4px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    line-height: 0;
}

.modal_image {
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
}

