
.link_container {
    /* display: flex;
    line-height: 0em;
    padding: 10px; */
    
    font-size: 13px;
    padding: 6px 0px;
    color: white;
    display: flex;
    position: relative;
    /* display: inline-block; */
    /* padding: 10px; */
}

.active {
    font-size: 13px;
    font-weight: 700;
    background-color: var(--accent);
    border-radius: 0.375rem;
    color: #dbbc6c;
    /* background: linear-gradient(to top, #b48532, #dfbd69);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; */
}

.link_container::after {
    content: '';
    width: 0%;
    height: 2px;
    background: linear-gradient(to right, #926f34, #dfbd69);
    display: block;
    transition: width 0.5s ease-in-out;
    position: absolute;
    bottom: 0;
    left: 0;
}

.link_container:hover::after {
    width: 100%;
}