.drug_image_container {
    position: relative;
    display: flex;
    height: 200px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    overflow: hidden;
}

.drug_image {
    object-fit: cover;
    overflow-clip-margin: unset;
    background-color: white;
    /* object-position: center top; */
}

.editable {
    display: flex;
    flex-direction: row-reverse;
    /* background-color: aqua; */
    gap: 10px;
    width: full;
    align-items: center;
    /* border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px; */
    overflow: hidden;
    /* padding-bottom: 14px; */
    /* padding-right: 34px; */
    font-size: 13px;
    text-decoration: underline;
    margin-bottom: 8px;
    /* background-color: brown; */
}

.post_container {
    display: grid;
    /* grid-template-columns: 1fr; */
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    width: full;
}
@media (min-width: 768px) {
    .post_container {
        grid-template-columns: repeat(2, 1fr);
    }
}
  
@media (min-width: 1280px) {
    .post_container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 639px) {
    .post_container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.card_container {
    width: 100%;
    border-radius: 16px;
    /* border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px; */
    /* position: relative;
    display: flex;
    flex-direction: column;*/
}

.create_button:hover {
    background-color: hsl(var(--custom));
    color: white;
}

.category {
    padding: 6px 8px;
    background-color: var(--bgSub);
    border-radius: 6px;
    font-size: 13px;
}
.category:hover {
    background-color: var(--jkAccent);
    color: white;
}

.pagination_container {
    display: flex;
    width: full;
    justify-content: center;
    margin-top: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination button {
    margin: 0 5px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
}

.pagination button.active {
    background-color: #0070f3;
    color: white;
    border-color: #0070f3;
}

.pagination button:hover:not(.active) {
    background-color: #eaeaea;
}

.current_page {
    background-color: var(--bgSelected);
    /* color: white; */
}