@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bgMain: #E7E7E7;
    --bgSub: #F5F5F5;
    --bgHeader: #18212C;
    --bgSelected: #d9dbe4;
    --inputHeader: #495768;
    --textMain: #32353A;
    --textHero: #000;
    --textDetails: #777b83;
    --line: #FFF;
    --lineTint: #c4c4c4;
    --jkAccent: #024c88;
    --jkGold: #dbbb6b;
    --gradientGold: linear-gradient(to right, #926f34, #dfbd69);

    --custom: 210 100% 26%;
    
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

html {
  scroll-behavior: smooth;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bgMain: #1e2025;
    --bgSub: #2b2e35;
    --bgSelected: #2b2e35;
    --textMain: #aeb2b9;
    --textHero: #FFF;
    --line: #40424d;
    --lineTint: #40424d;
    --bgHeader: #131b25;
    --inputHeader: #383f49;
    --jkAccent: #dbbb6b;
    --jkGold: #dbbb6b;

    --custom: 43 61% 64%;
  }
}

body {
    color: var(--textMain);
    background-color: var(--bgMain);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-weight: 400;
  color: var(--textDetails);
}

input, textarea, select {
  outline: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bgHeader {
  background-color: var(--bgHeader);
}

.textHero {
  color: var(--textHero);
}

.bgMain {
  background-color: var(--bgMain); 
}

.bgSub {
  background-color: var(--bgSub);
}

.textMain {
  color: var(--textMain);
}

.xline {
  border: 1px solid var(--line);
}

.xuderline {
  border-top: 1px solid var(--lineTint);
}

.minH {
  min-height: calc(100vh - 340px);
}

.textDetails {
  color: var(--textDetails);
}

.bgAccent {
  background-color: hsl(var(--custom));
}

.jkAccent {
  background-color: var(--jkAccent);
}

.text-jkAccent {
  color: var(--jkAccent);
}

.border-line {
  border-color: var(--lineTint);
  /* border-color: var(--line); */
}

.main_button:hover {
  background-color: var(--jkAccent);
  color: white;
}