.highlight_bg {
    width: 100%;
    background-color: var(--bgMain);
    border-top: var(--line) 1px solid;
}

.highlight_container {
    max-width: 1280px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

.text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    padding-right: 25px;
    padding-left: 50px;
}
.text_container h3 {
    font-size: 28px;
    font-weight: 700;
}
.text_container p {
    text-align: justify;
}

.image_link {
    align-self: center;
}

.image_container {
    position: relative;
    display: flex;
    height: 300px;
    aspect-ratio: 6/3;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image_style {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    object-position: center;
    overflow-clip-margin: unset;
    overflow: hidden;
    border: 1px solid #F5F5F5;
}

@media (max-width: 1279px) {
    .image_container {
        position: relative;
        display: flex;
        height: auto;
        align-self: center;
        margin: 0 20px;
        aspect-ratio: 6/3;
        overflow: hidden;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
}

@media (max-width: 767px) {
    .text_container h3 {
        font-size: 24px;
        font-weight: 700;
    }
    .text_container p {
        font-size: 13px;
    }
}

@media (max-width: 680px) {
    .highlight_container {
        max-width: 1280px;
        margin: 40px auto 0 auto;
        display: flex;
        flex-direction: column;
    }
    .image_link {
        align-self: auto;
    }
    .image_container {
        position: relative;
        display: flex;
        width: 100%;
        align-self: center;
        margin: 0;
        aspect-ratio: 6/3;
        overflow: hidden;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .text_container {
        margin-bottom: 20px;
    }
    .text_container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: left;
        padding-right: 25px;
        padding-left: 25px;
    }
    .text_container h3 {
        font-size: 24px;
        font-weight: 700;
    }
    .text_container p {
        font-size: 13px;
    }
    .text_container a {
        font-size: 13px;
    }
}