.copyright {
    color: white;
    border-top: 1px solid #505155;
    padding-top: 20px;
    font-size: 12px;
}

.footer_menu_container {
    width: 100%;
    flex-grow: 1;
}

@media (max-width: 450px) {
    .footer_menu_container {
        font-size: 12px;
    }
}