.nav_menu {
    position: fixed;
    /* display: flex; */
    /* flex-direction: column; */
    background-color: #103a69;
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0;
    text-align: left;
}