.form_container {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-top-width: 4px;
    border-color: hsl(var(--custom));
    border-radius: 8px;
    padding: 20px;
    background-color: var(--bgSub);
    min-width: 320px;
    max-width: 350px;
}

.form_input {
    background-color: var(--bgMain);
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
}

.form_button {
    background-color: hsl(var(--custom));
    color: white;
    font-size: 14px;
    padding: 6px 0;
    border-radius: 4px;
}

.cloudinary {
    /* background-color: hsl(var(--custom)); */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background-color: var(--bgMain);
    color: var(--textMain);
    font-size: 14px;
    padding: 6px 0;
    border-radius: 4px;
    height: 140px;
    overflow: hidden;
}

.cloudinary_image {
    object-fit: cover;
    overflow-clip-margin: unset;
}

.delete_image {
    z-index: 100;
    position: absolute;
    color: white;
    top: 2px;
    right: 2px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.3); /* Black with 50% opacity */
    border-radius: 100%;
    cursor: pointer;
    pointer-events: auto;
}
